@import './css/base.css';

.container {
  box-sizing: border-box;
  display: grid;
  height: 100vh;
  padding: 2rem;
  grid-gap: 1rem;
  background: var(--container-background, #f2f3f4);
}

.column {
  background: var(--column-background, hsl(230, 6%, 24%));
  border: 1px solid var(--fe, hsl(210, 9%, 39%));
  border-radius: 0.5rem;
  padding: 0.5rem;
}

entity-create {
  margin-bottom: 2rem;
}
entity-create::part(fieldset) {
  border-radius: 0.5rem;
  border: 1px solid var(--column-background, white);
}
entity-create::part(input) {
  --cam-input-bg: rgba(255, 255, 255, 0.6);
  --cam-input-border: 1px solid #2299ff;
}
entity-create::part(button) {
  @mixin button;
  font-weight: bold;
}

.archive-filter {
  @mixin neu 1rem, 225, 10%, 24%;
  background: transparent;
  color: white;
  cam-icon::part(icon) {
    font-size: 1rem;
  }
}
